<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>


<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Product Details</h2>
          <p>Very us move be blessed multiply night</p>
        </div>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="single-product.html">Product Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_product_img">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              >
                <img class="img-fluid w-100"
                  src="/productImages/<%= productDetails.image[0]%>"
                  alt=""
                />
              </li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              >
                <img class="img-fluid w-100"
                src="/productImages/<%= productDetails.image[1]%>"
                  alt=""
                />
              </li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              >
                <img class="img-fluid w-100"
                src="/productImages/<%= productDetails.image[2]%>"
                  alt=""
                />
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block w-100"
                  src="/productImages/<%= productDetails.image[0]%>"
                  alt="First slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="/productImages/<%= productDetails.image[1]%>"
                  alt="Second slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="/productImages/<%= productDetails.image[2]%>"
                  alt="Third slide"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= productDetails.name%></h3>
          <h2>₹<%= productDetails.price%></h2>
          <ul class="list">
            <li>
              <a class="active text-decoration-none" href="#">
                <span>Category</span> : <%= productDetails.category.name%></</a
              >
            </li>
            <li>
              <a class="text-decoration-none">
                <span>Availability:</span>
                <% if (productDetails.stock <= 0) { %>
                  <span class="badge bg-danger badge-xl">Out of Stock</span>
                <% } else { %>
                  <span class="badge bg-success badge-xl">In Stock</span>
                <% } %>
              </a>
            </li>
            
          </ul>
          <p>
            <%= productDetails.description%>
          </p>
          <div class="card_area">
            <% if (typeof user!== 'undefined') { %>
              <a class="main_btn text-decoration-none btn-addwish-b2 dis-block pos-relative" onclick="addToCart('<%=productDetails._id%>','<%=productDetails.stock%>','<%=productDetails.price%>')">Add to Cart</a>
            <% } else { %>
              <a class="main_btn text-decoration-none btn-addwish-b2 dis-block pos-relative" href="/login">Login to Add to Cart</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<script>
  function addToCart(proId,stock,price) {
    // Check the stock availability of the product
    if (`${stock}` > 0) {
      // Stock is available, add the product to the cart
      $.ajax({
        url: '/addToCart',
        data: {
          productId: proId,
          productPrice: price
        },
        method: "post",
        success: (response) => {
          if (response.success) {
            $('.bg0').load('/wishlist .bg0')
            console.log(response);
            Swal.fire({
              title: 'Added',
              text: 'Item added to Cart',
              icon: 'success',
              timer: 1000,
              showConfirmButton: false
            })
          } else {
            Swal.fire({
              text: 'Item already in Cart',
              icon: 'info',
              timer: 1000,
              showConfirmButton: false
            })
          }
        }
      })
    } else {
      // Stock is not available, show an error message
      Swal.fire({
        text: 'Item is out of stock',
        icon: 'error',
        timer: 1000,
        showConfirmButton: false
      })
    }
  }
  </script>
<%- include('../layouts/user/footer.ejs') %>