<style>
  .nav-link i.mdi-magnify {
  font-size: 1.2em;
}
.form-outline {
  display: flex;
  align-items: center;
}

.form-control {
  flex: 1;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 0.75rem;
  font-size: 16px;
  color: #ccc;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label {
  margin-top: 0;
  margin-left: 0;
  font-size: 12px;
  color: #6c757d;
}

.btn-primary {
  height: 38px;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .btn {
  margin-left: -1px;
}
li .input-group {
  display: flex;
  align-items: center;
}

li .form-outline {
  flex: 1;
  margin-right: -1px;
  position: relative;
}

li .form-control {
  border-radius: 0;
}
</style>

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <%if(typeof user!="undefined"){%>
              <p><%= user.name %></p>
              <p>Phone: <%= user.mobile %></p>
              <p>email: <%= user.email %></p>
              <%}%>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">
                <li>
                  <a href="cart.html">
                    gift card
                  </a>
                </li>
                <li>
                  <a href="tracking.html">
                    track order
                  </a>
                </li>
                <li>
                  <a href="contact.html">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <img src="/user/img/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES</a>
                    <ul class="dropdown-menu">
                      <% category.forEach((x)=>{%>
                        <% if(typeof x.category !== 'undefined') %>
                          <li class="nav-item">
                            <a class="nav-link" href="/category/<%= x._id %>"><%=x.name %></a>
                          </li>
                      <% }) %>
                    </ul>
                  </li>
                  
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">SHOP</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="/allProducts">ALL PRODUCTS</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="single-blog.html">Blog Details</a>
                      </li> -->
                    </ul>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false"><i class="mdi mdi-magnify"></i></a>
                    <ul class="dropdown-menu">
                      <li>
                        <form action="/search" method="post">
                          <div class="input-group">
                            <div class="form-outline">
                              <input type="search" id="form1" class="form-control" name="search" />
                              <label class="form-label" for="form1">Search</label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </form>
                        
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <!-- <li class="nav-item">
                    <a href="#" class="icons text-decoration-none">
                      <i class="ti-search" aria-hidden="true"></i>
                    </a>
                  </li> -->

                  <li class="nav-item">
                    <a href="/cart" class="icons text-decoration-none">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/profile" class="icons text-decoration-none">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/wishlist" class="icons text-decoration-none">
                      <i class="ti-heart" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <% if (typeof user !== "undefined") { %>
                      <div class="float-right mt-3 mr-3">
                        <a href="/Logout" class="btn btn-tertiary">Logout</a>
                      </div>
                    <% } else { %>
                      <div class="float-right mt-3 mr-3">
                        <a href="/login" class="btn btn-tertiary">Login</a>
                      </div>
                      <div class="float-right mt-3 mr-3">
                        <a href="/signup" class="btn btn-tertiary">Sign up</a>
                      </div>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

 